[run]
source =
    ion
[report]
omit =
    */test/*
    */core/containerui*
    */shell_utils*
    */cei/*
[html]
directory = coverage_results
omit =
    */test/*
    */core/containerui*
    */shell_utils*
    */cei/*
