[run]
source =
    ion
[report]
omit =
    */test/*
    */core/containerui*
    */shell_utils*
    */cei/*
    */bootstrap/*loader*
    */util/*datastore*
    */example*
    */agent_cmd_util*
    */port_agent_packet*
    */port_agent_helper*
    */logger_process*
    */observatory/constraint*
[html]
directory = coverage_results
omit =
    */test/*
    */core/containerui*
    */shell_utils*
    */cei/*
    */bootstrap/*loader*
    */util/*datastore*
    */example*
    */agent_cmd_util*
    */port_agent_packet*
    */port_agent_helper*
    */logger_process*
    */observatory/constraint*
