[run]
source =
    ion
[report]
omit =
    */test/*
    */core/containerui*
    */shell_utils*
    */cei/*
    */bootstrap/*loader*
    */util/*datastore*
    */example*
    */agent_cmd_util*
    */port_agent_packet*
    */port_agent_helper*
    */logger_process*
    */observatory/constraint*
    */parameter_yaml_IO*
    */granule_utils*
    */transforms/poll*
    */oms_simulator_server*
    */cgsn_simulator*
    */load_csv*
    */gviz_api*
    */SBE37_SMP_simulator*
    */geo_utils*
    */preservation_management_service*
    */utility/jsonify*
    */util/parameter_loader*
    */simple_dispatcher*
    */granule/taxonomy*
[html]
directory = coverage_results
