*.kpf
*.pyc
*.swp
*.*.swp
.*.*.swo
*.log
*.pid
*.komodo*
docs
build
dist
*.egg-info
.pydevproject
.project
/.settings
/.metadata
dropin.cache
eggs/
parts/
develop-eggs/
downloads/
bin/
.installed.cfg
.idea
buildout.cfg
.idea
msc.*
reslocal/config/pyon.local.yml
reslocal/config/logging.local.yml
logs
res/config/*~*
scripts/*~*
scripts/local-hook*.sh
unittest.out
interface/*
res
control_cc
obj
pycc
cc-pid*
.coverage
coverage_results
.noseids
*.cdl
*.cov
tags
*.DS_Store
