[submodule "extern/ion-definitions"]
	path = extern/ion-definitions
	url = https://github.com/ooici/ion-definitions.git

[submodule "extern/marine-integrations"]
	path = extern/marine-integrations
	url = https://github.com/ooici/marine-integrations.git
[submodule "extern/coverage-model"]
	path = extern/coverage-model
	url = https://github.com/ooici/coverage-model.git
[submodule "extern/pyon"]
	path = extern/pyon
	url = https://github.com/ooici/pyon.git
