*.kpf
*.pyc
*.swp
*.*.swp
.*.*.swo
*.log
*.pid
*.komodo*
docs
build
dist
*.egg-info
.pydevproject
.project
/.settings
/.metadata
dropin.cache
eggs/
parts/
develop-eggs/
downloads/
bin/
.installed.cfg
.idea
buildout.cfg
.idea
msc.*
reslocal/config/pyon.local.yml
reslocal/config/logging.local.yml
logs
res/config/*~*
scripts/*~*
scripts/get-latest-code-local-hooks.sh
unittest.out
interface/*
res
control_cc
obj
pycc
pyon
cc-pid*
.coverage
coverage_results
.noseids
*/*.cdl