body {
    font-family:Helvetica,Verdana,sans-serif;
    font-size:small;
}
table,th,td,thead {
    font-size:small;
    border: 1px solid black;
    border-collapse:collapse;
    padding-left:3px;
    padding-right:3px;
    vertical-align:top;
}
th,thead {
    background-color:lightgray;
}
.preform {
    white-space:pre;
    font-family:monospace;
    font-size:120%;
}

#map_canvas {
    margin: 0;
    padding: 0;
    height: 100%;
}

